body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    justify-content: center;
    overflow: hidden;
}
canvas{
    max-width: 100%;
    background-color: antiquewhite;
}
h2{
    position: absolute;
    top: 0;
    font-family: cursive;
    color: red;
}
